<template name="editMedia">
  {{#if is_allowed 'Post Management'}}
  <div class="app-main__inner">
    <div class="app-page-title  contentCenter">
      <div class="page-title-wrapper inlineContent">
        <div class="page-title-heading">
          <i class="fas fa-pencil-alt mr-2"></i>
          EDIT MEDIA
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
          {{#if Template.subscriptionsReady}}
          <a href="/mediamanagement"
            ><button type="button" class="btn btn-primary">
              <i class="far fa-arrow-alt-circle-left"></i> BACK
            </button></a
          >
          <hr />
          {{#each editMediaById }}
          <form class="editMediaForm">
            <div class="form-group">
              <label for="editMediaType">Content Type:</label>
              <select class="form-control" id="editMediaType" required>
                <option value="Video" id="editVideo">Video</option>
                <option value="Image" id="editImage">Image</option>
              </select>
            </div>

            <div
              id="editcheckImage"
              class="rounded shadow-sm p-2 mt-2 mb-3 noDisplay"
            >
              {{> storyImage}}
            </div>

            <div class="form-group" id="editmediaSourceSelectDiv">
              <label for="editmediaSourceSelect">Do You Want To:</label>
              <select class="form-control" id="editmediaSourceSelect" required>
                <option value="URL">Input The URL</option>
                <option value="Upload">Upload A Video</option>
              </select>
            </div>

            <div
              class="custom-file mb-3"
              id="editmediaUploadDiv"
              hidden="hidden"
            >
              <input
                type="file"
                class="custom-file-input"
                id="editmediaUpload"
              />
              <label class="custom-file-label" for="editmediaUpload"
                >Choose file</label
              >
            </div>
            <div id="editsourceURLDiv" class="mb-3">
              <div class="checkEditMediaURLInput">
                <div class="input-group ">
                  <input
                    id="editSourceURL"
                    type="text"
                    class="form-control"
                    placeholder="URL"
                    aria-label="URL"
                    aria-describedby="ViewEditMediaBtn"
                    autocomplete="off"
                    value="{{ Source }}"
                    required
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      id="ViewEditMediaBtn"
                      title="Preview Media"
                    >
                      <i class="fas fa-play"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="checkEditMediaURLInvalidMessage inputChecks">
                <div class="error-message">Invalid URL</div>
              </div>
              <div id="downeditMediaPrev"></div>
            </div>

            <div class="form-group">
              <script>
                $(document).ready(function() {
                  var toolbarOptions = [
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    [{ header: [1, 2, 3, 4, 5, 6, false] }],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                    [{ script: 'sub' }, { script: 'super' }],
                    [{ indent: '-1' }, { indent: '+1' }],
                    [{ direction: 'rtl' }],
                    [{ size: ['small', false, 'large', 'huge'] }],
                    [{ color: [] }, { background: [] }],
                    [{ font: [] }],
                    [{ align: [] }]
                  ];

                  var quill = new Quill('#edit-media-editor', {
                    modules: {
                      toolbar: toolbarOptions
                    },
                    theme: 'snow'
                  });
                });
              </script>
              <label>Media Description:</label>
              <div id="toolbar"></div>
              <div class="checkEditMediaDescInput">
                <div id="edit-media-editor">{{{ Description }}}</div>
              </div>
              <div class="checkEditMediaDescMessage inputChecks">
                <div class="error-message">Please Enter Description</div>
              </div>
              <div class="checkEditMediaDescNumberMessage inputChecks">
                <div class="error-message">
                  Numbers Are Not Allowed In Input
                </div>
              </div>
            </div>

            <div class="form-group">
              <script>
                $(document).ready(function() {
                  $('#edit-media-tags').select2({
                    tags: true
                  });
                });
              </script>
              <label for="edit-media-tags">Meta Tags:</label>
              <select
                class="form-control"
                id="edit-media-tags"
                name="tags[]"
                multiple="multiple"
                required
              >
                {{#each tags}}
                <option value="{{ Tag }}" selected>{{ Tag }}</option>
                {{/each}}
              </select>
            </div>

            <div>
              <label class="mt-2" for="editMediaMetaDesc"
                >Meta Description:</label
              >
              <div class="checkEditMediaMetaDescInput">
                <textarea
                  id="editMediaMetaDesc"
                  autocomplete="off"
                  class="form-control"
                  type="text"
                  cols="3"
                  rows="3"
                  required
                  >{{ metaDesc }}</textarea
                >
              </div>
              <div class="checkEditMediaMetaDescInvalidMessage inputChecks">
                <div class="error-message">Invalid Input</div>
              </div>
              <div class="checkEditMediaMetaDescLengthMessage inputChecks">
                <div class="error-message">
                  Length Should Not Exceed 200 Characters
                </div>
              </div>
              <div class="checkEditMediaMetaDescNumberMessage inputChecks">
                <div class="error-message">
                  Numbers Are Not Allowed In Input
                </div>
              </div>
            </div>

            <div
              id="editMediaLineLoader"
              class="lineloader form-group noDisplay mt-3"
            >
              <div class="linebar"></div>
            </div>
            <input
              type="submit"
              class="mb-2 mr-2 mt-3 btn btn-danger btn-md btn-block"
              value="Submit"
            />
          </form>
          {{/each}}
          {{else}}
          <div style="text-align: center">
            <i
              class="spinner fas fa-spinner mr-2 mb-3 mt-3 "
              style="font-size:4em"
            ></i>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  {{> noAccess}}
  {{/if}}
</template>
