<template name="editStaff">
  {{#if is_allowed 'Staff Management'}}
  <div class="app-main__inner">
    <div class="app-page-title  contentCenter">
      <div class="page-title-wrapper inlineContent">
        <div class="page-title-heading">
          <i class="fas fa-pencil-alt mr-2"></i>
          EDIT STAFF
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <a href="/staffmanagement"
            ><button type="button" class="btn btn-primary">
              <i class="far fa-arrow-alt-circle-left"></i> BACK
            </button></a
          >
          <hr />
          {{#each editStaffById }}
          <form class="editStaffForm">
            <div>
              <label for="editStaffName">User Name:</label>
              <div class="checkEditStaffNameInput">
                <input
                  id="editStaffName"
                  type="text"
                  class="form-control"
                  value="{{ name }}"
                  aria-describedby="inputGroupPrepend"
                  maxlength="40"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="checkEditStaffNameNumberMessage inputChecks">
                <div class="error-message">
                  Numbers are not allowed in input
                </div>
              </div>
              <div class="checkEditStaffNameInvalidMessage inputChecks">
                <div class="error-message">Invalid Input</div>
              </div>
            </div>

            <div>
              <label class="mt-2" for="editStaffId">Employee Id:</label>
              <div class="checkEditStaffIdInput">
                <input
                  id="editStaffId"
                  type="text"
                  class="form-control"
                  value="{{ employee_id }}"
                  aria-describedby="inputGroupPrepend"
                  minlength="6"
                  maxlength="40"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="checkEditStaffIdInvalidMessage inputChecks">
                <div class="error-message">Invalid Employee Id</div>
              </div>
              <div class="checkEditStaffIdMessage inputChecks">
                <div class="error-message">Employee Id Should Be Unique.</div>
              </div>
            </div>

            <div>
              <input id="hiddenEditStaffId" value="{{ employee_id }}" hidden />
            </div>

            <div>
              <label class="mt-2" for="editStaffEmail">Email:</label>
              <input
                id="editStaffEmail"
                type="email"
                class="form-control"
                value="{{ email }}"
                aria-describedby="inputGroupPrepend"
                autocomplete="off"
                readonly
              />
            </div>

            <div>
              <label class="mt-2" for="editStaffMobile_number"
                >Mobile No:</label
              >
              <div class="checkEditStaffPhoneInput">
                <input
                  id="editStaffMobile_number"
                  type="text"
                  class="form-control"
                  value="{{ mobile_number }}"
                  aria-describedby="inputGroupPrepend"
                  minlength="10"
                  maxlength="10"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="checkEditStaffPhoneInvalidMessage inputChecks">
                <div class="error-message">Only Numbers Are Allowed.</div>
              </div>
              <div class="checkEditStaffPhoneMessage inputChecks">
                <div class="error-message">Contact Number Not Valid</div>
              </div>
            </div>

            <div>
              <script>
                $(document).ready(function() {
                  $('#editStaffRights').select2();
                });
              </script>
              <label class="mt-2" for="editStaffRights">Can Access:</label>

              <select
                class="form-control"
                id="editStaffRights"
                name="rights[]"
                multiple="multiple"
                required
              >
                {{#each fetchMenus}}
                {{#if selectStatus menu_id}}
                <option selected>{{ menu_name }}</option>
                {{else}}
                <option>{{ menu_name }}</option>
                {{/if}}

                {{/each}}
              </select>
            </div>
            <div
              id="editStaffLineLoader"
              class="lineloader form-group mt-2 noDisplay"
            >
              <div class="linebar"></div>
            </div>
            <input
              type="submit"
              class="mb-2 mr-2 mt-3 btn btn-danger btn-md btn-block"
              value="Submit"
            />
          </form>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  {{> noAccess}}
  {{/if}}
</template>
